/* You can add global styles to this file, and also import other style files */
:root {
    --light-blue: #6788ff;
    --font-s: 14px;
    --font-m: 18px;
}

body{
    font-family: "Golos Text", sans-serif;
    font-size: 16px;
}

.title{
    font-size: 30px;
    font-weight: 600;
    margin: 40px;
    text-align: center;
}

.italic{
    font-style: italic;
}

.loader{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 0px;

    span{
        width: 48px;
        height: 48px;
        border: 5px solid var(--light-blue);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
